<html>
  <h1>Attendance Filter</h1>
  <div>
    <form method="get">
      {{student_filter.form}}
      <button type="submit">Filter</button>
    </form>
  </div>
  <body>
    <div><a href="{% url 'attendance:boxplot' %}">Display as box graph</a></div>

    <div>
      <a href="{% url 'attendance:averageplot' %}"
        >average attendance per term</a
      >
    </div>

    <div>
      <a href="{% url 'attendance:scatterplot' %}"
        >attended sessions and submission scatter graph</a
      >
    </div>
    <div>
      <a href="{% url 'attendance:pieplot' %}"
        >Number of students in a course Pie chart</a
      >
    </div>
    <div><a href="{% url 'attendance:visuals' %}">original bar graph</a></div>
    <div>
      {%if gra%} {{gra|safe|default:"nothing"}} {% else %} No data to graph.
      {%endif%}
    </div>
  </body>
</html>
